
body {
    padding-top: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#masthead nav {
    position: fixed;
    top: 0;
    left: 0;
    background: #fafafa;
    border-bottom: 2px solid #ff6a00;
    height: 70px;
    width: 100%;
}

#masthead nav ul { float: right; }

#masthead nav li a {
    padding: 25px 10px;
    display: block;
    text-decoration: none;
}

#masthead nav li a:hover {
    text-decoration: underline;
    background-color: orange;
}

nav li {
    float: left;
    width: auto;
}

nav li a {
    padding: 25px 10px;
    display: block;
}

/*#brand{
    text-indent:-9000px;
    background: url(../images/cojorado.jpg) no-repeat top left;
    height: 60px;
    width: 60px;
    margin:5px;
    float:left;
}*/

.container {
    width: 1024px;
    margin: 0 auto;
}

#hero {
    background: url(../images/wood.jpg) no-repeat top left;
    color: #fafafa;
    text-align: center;
    height: 350px;
    padding: 45px 20px;
    -ms-background-size: cover;
    background-size: cover;
}

#hero img {
    width: 250px;
    -ms-border-radius: 10px 40px;
    border-radius: 10px 40px;
    border: 3px orange;
    margin-top: 30px;
}

#hero h1 {
    font-size: 64px;
    color: black;
    margin: 20px;   
}

#hero a:hover {
    background: black;
    color: cornflowerblue;
}

#profile article {
    width: 30%;
    max-width: 90%;
    padding: 15px;
    display: inline-block;
    text-align: center;
}

#profile article img {
    width: 50%;
    max-width: 90%;
    padding: 20px;
    -ms-border-radius: 70%;
    border-radius: 70%;
    margin-bottom: 10px;
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -ms-filter: blur(2px);
    -o-filter: blur(2px);
    filter: blur(2px);
}

 
#profile img:hover {
    -webkit-filter: blur(0);
    -moz-filter: blur(0);
    -ms-filter: blur(0);
    -o-filter: blur(0);
    filter: blur(0);
}


#profile article p {
     line-height: 20px;
}

#profile h2 {
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    color: #808080;
    text-align: center;
    margin: 30px 0;
    line-height: 40px;
}

#profile h3 {
    font-size: 24px;
    color: #808080;
    margin-bottom: 10px;
}

#profile article a {
    display: inline-block;
    color: #8F4968;
    margin-top: 20px;
    font-family: 'Comic Sans MS';
}

#social {
    background: #808080;
    color: #8f4968;
    padding: 25px 0;
    overflow: hidden;
}

#social li {
    float: left;
    width: auto;
    padding: 20px;
}

#social ul {
    width: 5200px;
    margin: 0 auto;
}

#social h3 {
    font-size: 32px;
    color: black;
    margin-bottom: 10px;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    img {
        width: 100%;
    }
}

    @media screen and (max-width: 640px) {
        #sidebar {
            display: none;
        }
    }

    @media (min-width: 768px) and (max-width: 979px) {
  #sidebar {
    width: 200px;
  }
}

